
body{
    height: 100vh ;
    background-color : rgb(20, 16, 16) ;

    display: flex ;
    justify-content: center;
    align-items: center;


}

*{
    margin: 0;
    padding: 0;
}

.login{
    background-color: rgb(255, 251, 251);
    padding : 60px 0px ;
    border-radius: 8px ;
    
    width: 25vw;
    height: 50vh;
    box-shadow: 20px 16px 4px rgb(0 0 0);
    transition: 0.5s;


}

.login > h1{
    color : white ;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(32, 32, 250);
    padding : 10px ;
}

form{
    display: flex;
    flex-direction: column;
    gap : 12px ;
    align-items: center;
}

form > input {
    padding : 8px 10px ;
    border-radius: 5px ;
    border : none ;   

}

form >input:focus{
    outline : 2px solid rgb(2, 34, 138) ;
}

form > button{
    padding :8px;
    border-radius: 5px;
    border : none ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(32, 32, 250);
    font-weight: 900;
    color : white ;
    width: 170px;

}

button:hover{
    background-color: rgb(9, 9, 71);
    color : white ;
}







span:hover{
    font-size: 35px;
    color : rgb(15, 15, 15) ;
}

@media screen and (max-width: 800px) {
    .login{
        width: 60vw;
        transition: 0.5s;
    }
    
  }


  @media screen and (max-width: 400px) {
    .login{
        width: 95vw;
        transition: 0.5s;

    }
    
  }
















